* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #fff
}

body {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    display: grid;
    place-items: center;
    height: 100vh;
    background-image: url(dark-gray-wooden-textured-flooring-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* background: linear-gradient(#7f7fd5, #86a8e7, #91eae4); */
}

.container {
    border: 1px dashed gray;
    /* border-style: outset; */
    height: 60vh;
    width: 60vh;
    border-radius: 5px;
    /* background: linear-gradient(#b2fefa, #0ed2f7); */
    /* margin-top: 100px; */
}

.temp-converter {
    /* border: 3px solid red; */
    font-size: 18px;
}

h1 {
    padding: 10px;
    border-bottom: 1px solid;
    background: #000;
    color: #fff;
    /* text-decoration: underline; */
}

h1 i {
    color: white;
}

form {
    font-size: 22px;
    padding: 20px;
    margin: 20px 0;
    font-weight: 600;
}

input {
    padding: 10px;
    margin: 12px 0;
    border: 1px solid black;
    border-radius: 5px;
    border: 2px solid black;
    font-weight: 600;
    color: #000;
}

::placeholder {
    color: #000;
    font-size: 14px;
    text-align: center;
}


button {
    padding: 6px;
    margin: 15px 0;
    font-weight: bold;
    border-radius: 5px;
    color: #000;
}

button:hover {
    color: #fff;
    background: #000;
}

#result {
    padding: 10px 10px;
    border-top: 2px solid;
    /* background: #000; */
    color: #fff;
    margin-top: 20px;
}