* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    overflow: auto;
}

.header-container {
    padding: 0 4.8px;
    height: 10rem;
    /* border: 5px solid; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #000000;
}

.logo {
    color: #ffffff;
    font-size: 2.5rem;
    /* text-align: center; */
}

.logo #name {
    font-weight: 600;
}

.tagline {
    display: block;
    font-size: 1.2rem;
}

.navbar-list {
    display: flex;
    gap: 4.8rem;
    list-style: none;
}

.navbar-links:link,
.navbar-lists:visited {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 500;
    color: #ffffff;
    transition: box-shadow 0.3s ease;
    padding: 10px;
}

li:hover {
    box-shadow: inset 0 0 5px white;
}

/* Content section */

main {
    width: 100%;
}

.section-home,
.section-skills,
.section-qualifications,
.section-resume,
.section-certificates,
.section-contact,
.section-projects
.section-footer {
    padding: 2rem 0;
    background-color: #ffffff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* border: 3px solid; */
}

.section-home {
    height: auto;
}

.text-content {
    display: inline-block;
    width: 50%;
    flex: 1;
    padding: 20px;
    text-align: center;
    /* border-right: 2px solid black; */
}

.image-content {
    display: inline-block;
    width: 30%;
    height: auto;
    flex: 1;
    padding: 20px;
    text-align: center;
    position: relative;
    mix-blend-mode: multiply;
}

.image-content img {
    max-width: 100%;
    height: auto;
    transition: transform 0.5s;
}

.image-content:hover img {
    transform: rotateY(180deg);
}

.text-content h1 {
    font-size: 30px;
    color: #000000;
}

.text-content p {
    font-size: 20px;
}

.image-content img {
    max-width: 45vh;
    height: auto;
    /* border-radius: 8px; */
    mix-blend-mode: lighten;
    right: 0;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 3px 0;
}

.section-skills {
    background-color: #000000;
}

#skill-heading {
    color: #ffffff;
    font-size: 25px;
    border-right: 2px solid white;
    padding: 10px;
    margin-left: 5px;
}

.skill-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    margin: 20px;
}

.html {
    margin-right: 22px;
}

.css {
    margin-right: 25px;
}

.skill-card:hover {
    box-shadow: inset 0 0 5px white;
}

.container {
    padding: 2px 16px;
    background-color: black;
}

#Skills {
    border-radius: 5px 5px 0 0;
    width: 100px;
}

.skill-card h4 {
    color: white;
    font-size: 16px;
}

.section-education {
    background-color: #ffffff;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#education-heading {
    color: #000000;
    font-size: 25px;
    border-right: 2px solid black;
    padding: 10px;
}


.education-text {
    padding: 15px;
    font-size: 16px;
    letter-spacing: 1px;
    background-image: linear-gradient(to right, #434343 10%, #000000 100%);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    border: 1px solid #eaeaea;
    cursor: pointer;
    transition: all 0.4s;
    margin: 10px;
}

.education-text:hover {
    border: 1px solid #000000;
}

#resume-heading {
    color: #ffffff;
    font-size: 25px;
    border-right: 2px solid white;
    padding: 10px;
}

.section-resume {
    width: 100%;
    display: inline-flex;
    align-items: flex-start;
    justify-content:flex-start;
    padding: 48px 0;
    background-color: #000000;
    position: relative;
}

#download-para {
    color: #ffffff;
    margin-left: 50px;
    font-size: 16px;
    letter-spacing: 2px;
}

#download-para a {
    text-decoration: none;
    color: #ffffff;
    border: 2px solid #ffffff;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#download-para a:hover {
    background-color: #ffffff;
    color: #000000;
}

/* ----- contact section -----  */

.section-contact {
    display: block;
    align-items: center;
    justify-content: center;
    background: #000000;
    color: white;
}
#contact-heading {
    color: white;
    font-size: 25px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 10px;
}

label {
    display: block;
    font-weight: bold;
}

.label-heading {
    font-size: 22px;
    margin-bottom: 5px;
}

#email {
    width: 300px;
    margin-bottom: 20px;
}

#name {
    width: 300px;
    margin-bottom: 20px
}

#message {
    width: 300px;
    padding: 40px;
    margin-bottom: 20px;
}

.contact {
    display: flex;
    align-items: center;
    justify-content: center;
}

#contact-para {
    margin: 10px;
    font-size: 20px;
}

button {
    font-size: 16px;
    color: #000000;
    padding: 8px 15px;
    border-radius: 3px;
    cursor: pointer;
    /* position: relative; */
    /* top: 80px;
    right: 300px; */
    border: 1px solid gray;
    display: block;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

button:hover {
    background-color: #000000;
    color: #ffffff;
}

.section-footer {
    background: white;
    padding: 10px;
    /* background: #000000; */
}

#follow-heading {
    font-size: 25px;
    color: #000000;
    padding: 10px;
    border-bottom: 2px solid black;
}

.section-footer .row .col img {
        width: 50px;
}

.section-footer .row .col {
    margin: 30px;
}

.col {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.col a {
    text-decoration: none;
}

.col span {
    font-size: 20px;
    display: flex;
    color: black;
}


/* Projects section */

.section-projects {
    background: #000000;
    display: block;
    align-items: center;
    justify-content: center;
    background: #000000;
}

#project-heading {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    font-size: 25px;
    color: #ffffff;
    padding: 10px;
}

.projects {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 400px;
    /* margin-top: 10px; */
    gap: 20px;
}

#amazon {
    margin-top: 20px;
    height: 200px;
}

#management {
    margin-top: 20px;
}


.project-img h4 {
    color: white;
    font-size: 18px;
    margin: 30px;
}

.project-img a {
    margin-left: 40px;
    text-decoration: none;
    color: white;
    font-size: 16px;
    border: 1px dotted gray;
    padding: 10px;
    font-weight: bold;
}

.project-img a:hover {
    color: black;
    background-color: #ffffff;
}

.project-img p {
    color: white;
}

.project-img img{
    width: 200px;
}



@media screen and (max-width:1060px){
    .navbar-list {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #333;
        width: 100%;
    }

    .navbar-list.active {
        display: flex;
    }

    .menu-toggle {
        display: flex;
    }

    .section-skills {
        flex-direction: column;
        position: relative;
        width: 100%;
    }

    #skill-heading {
        border-right: none;
        border-bottom: 2px solid white;
    }

    .section-education {
        flex-direction: column;
        position: relative;
        width: 100%;
    }

    #education-heading {
        border-right: none;
        border-bottom: 2px solid #000000;
    }

    .section-resume {
        position: relative;
        flex-direction: column;
        width: 100%;
    }

    #resume-heading {
        border-right: none;
        border-bottom: 2px solid #ffffff;
    }

    #download-para {
        margin:10px;
    }

    .projects {
        grid-template-columns: repeat(3,300px);
        width: 100%;
    }


}

@media screen and (max-width:903px) {
    .projects {
        width: 100%;
        display: block;
    }
}

@media screen and (max-width:842px) {
    .projects {
        width: 100%;
        display: block;
    }
}

@media screen and (max-width:685px){
    .section-home img {
        width: 100%;
    }

}

@media screen and (max-width:630px) {
    .section-home p {
        font-size: 15px;
    }

    .section-home h1 {
        font-size: 25px;
    }
}

@media screen and (max-width:400px) {
    .section-home {
        display: block;
        flex-direction: column;
        width: 100%;
    }

    .section-home p {
        display: flex;
        align-items: center;
        justify-content: center;
        /* border-bottom: 3px solid black; */
    }

    .text-content {
        width: 100%;
    }

    .image-content {
        width: 70%;
    }

    #Picture {
        margin-left: 50px;
    }

    .logo {
        font-size: 2rem;
    }

    .tagline {
        font-size: 1rem;
    }

    #skill-heading {
        font-size: 22px;
    }

    .skill-card h4 {
        font-size: 14px;
    }

    #resume-heading {
        font-size: 22px;
    }

    #download-para {
        font-size: 14px;
        letter-spacing: 1;
    }
}